#nombre{
    border: solid 1px;
    padding: 8px;
    margin: 0 auto;
    width: 85%;
    background-color: #82bafa;
}

fieldset{
    margin-bottom: 10px;
}

legend{
    border: solid 1px;
}
img{
    width: 100px #b5d5f8;
    padding: 5px;
    font-weight: bold;
    background-color: #cccccc;
    border-radius: 15px;
}
img{ 
    width: 150px;

}
img{
    width: 150px;
}

legend{
    border: solid 1px;
    padding: 1px;
    margin: 0px;
    width: 17%;
    background-color: #b5d5f8;
}
